.divAll {
  height: 100%;
  position: absolute;
  width: 100%;
}

.hrDiv {
  background-color: #fc6963;
  height: 60px;
}

.bg-custom-danger {
  background-color: #fc6963 !important;
  color: #fff;
  padding: 0;
}

.dragonList {
  background-color: #fff;
}

.inputSearch {
  color: #fff;
  width: 100%;
  background-color: #fc6963;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-color: #fff;
  text-align: center
}

.inputSearch:focus {
  outline: 0;
}

.inputSearch::placeholder {
  color: rgba(255, 255, 255, 0.44);
}

.cardContainer {
  padding-bottom: 10%;
}

.cardComponent {
  background-color: #fc6963;
  cursor: pointer;
  box-shadow: -1px 0px 20px -1px rgba(102,102,102,0.9);
}

.cardComponent:hover {
  border-color: rgba(235, 221, 221, 0.913);
  transition: 0.3s
}

.cardComponent:hover .cardHeader {
  border-color: rgba(235, 221, 221, 0.913);
  transition: 0.3s
}

.cardHeader {
  color: #fff;
  background-color: #fc6963;
}

.cardBody {
  background-color: #fc6963;
}

.cardFooter {
  background-color: #fc6963;
}

.btn-custom-card-footer {
  background-color: #fff;
}

.btn-custom-card-footer:hover {
  color: #fc6963;
}

.pReadingMore {
  color: #ccc;
}

.pReadingMore:hover {
  text-decoration: underline
}