.headerBar {
  height: 70px;
  box-shadow: 0px 4px 12px 2px rgba(92,92,92,0.9);
}

.bg-custom-danger {
  background-color: #fc6963 !important;
  color: #fff;
  padding: 0;
}

.btn-custom-white {
  color: #fff;
}

.btn-custom-white:hover {
  color: #fff;
}

.bg-custom-danger-outline {
  color: #fff;
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(252, 105, 99, 1));
}

.bg-custom-danger-outline a {
  color: #f85151;
}

.bg-custom-danger-outline .navbar-nav a {
  color: #fc6963;
}

.btn-custom-danger-outline {
  color: #fc6963;
  border-color: #fc6963;
  border-width: 1px;
}

.btn-custom-danger-outline:hover {
  color: #fff;
  background-color: #fc6963;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 1%;
}